@tailwind base;
@tailwind components;
@tailwind utilities;


.nametag{
  font-family: "Courgette", cursive;
  
}
body {
  background-color: rgb(255, 255, 255);
  font-family: 'Literata', serif;
}
.sirname{
  font-family: "Noto Sans Sinhala", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 10px #3498db;
  }
  50% {
    box-shadow: 0 0 20px #3498db;
  }
  100% {
    box-shadow: 0 0 10px #3498db;
  }
}

.glow {
  animation: glow 1.5s infinite alternate;
}

